
<p class="bg-primary" style="padding: 15px">GESTIÓN DE ENCUESTAS</p>

<div class="well">

	<div class="container">
		<h2>Datos de la Encuesta</h2>
		
			<div class="form-group">
				<label class="control-label col-xs-2" for="nombre">Nombre</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="nombre"
						placeholder="Ingrese el nombre de la encuesta" ng-model="encuesta.nombre" required>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-2" for="descripcion">Descripción</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="descripcion"
						placeholder="Ingrese la descripci&oacute;n de la encuesta" ng-model="encuesta.descripcion">
				</div>
			</div>

		<button type="button" class="btn btn-primary" data-toggle="modal"
			data-target="#myModal">A&ntilde;adir Pregunta</button>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Panel de Preguntas</h4>
				</div>
				<form ng-submit="agregarRespuesta()">
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-5">
								<div class="form-group">
									<label for="pregunta">T&iacute;tulo de la Pregunta:</label> <input
										type="text" class="form-control" id="pregunta"
										placeholder="Ingrese la Pregunta" ng-model="preguntaActual.descripcion" required>
								</div>
	
	
							</div>
	
							<div class="col-sm-5" style="display: none">
								<fieldset class="form-group row">
									<div class="col-sm-10">
										<div class="form-check">
											<label class="form-check-label"> <input
												class="form-check-input" type="radio" name="gridRadios" ng-model="preguntaActual.tipo"
												id="gridRadios1" value="8" ng-click="falseRespuestaAbierta()"> Respuesta
												&Uacute;nica
											</label>
										</div>										
									</div>
								</fieldset>
							</div>
	
	
						</div>
						
						
						<div class="form-group">
							<label for="respuesta">Alternativa : </label> <input type="text"
								class="form-control" id="idInputRespuesta" size="54" ng-model="respuestaActual.descripcion" ng-required="!respuestaAbierta" ng-disabled="respuestaAbierta">
						</div>
						<button type="submit" class="btn btn-default">Agregar</button>
					</form>
					<br> <br>

					<h4>Tabla de alternativas</h4>
					<div class="table-responsive">
						<table class="table" id="tabla_respuestas">
							<thead>
								<tr>
									<th>#</th>
									<th>Alternativa</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in preguntaActual.respuestas track by $index">
									<td>{{$index+1}}</td>
									<td>{{item.descripcion}}</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>


				<!-- 			<button type="button" class="btn btn-primary">Agregar -->
				<!-- 				Pregunta</button> -->
				<!-- 			<button type="button" class="btn btn-primary active">Cancelar</button>			 -->

				<div class="modal-footer">
					<button type="button" class="btn btn-primary" ng-click="agregarPregunta()">Agregar
						Pregunta</button>
				</div>
				<!-- 			<div class="modal-footer"> -->
				<!-- 				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
				<!-- 			</div> -->
			</div>
		</div>

	</div>


<div class="container">
	<h4>Tabla de Preguntas</h4>
	<div class="table-responsive">
		<table class="table" id="tabla_preguntas">
			<thead>
				<tr>
					<th>#</th>
					<th>Pregunta</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in encuesta.preguntas track by $index">
					<td>{{$index+1}}</td>
					<td>{{item.descripcion}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<br>

<div class="container">
	<button type="submit" class="btn btn-primary" ng-click="guardarEncuesta()">Guardar Encuesta</button>
</div>

