<div class="form-group">
	<label for="usuario">Usuario</label>
	<input type="text" class="form-control" ng-model="variable">
</div>
nombre de usuario: {{usuario.nombre}}<br/>
email usuario: {{usuario.email}}<br/>
variable: {{variable}}
