<p class="bg-primary" style="padding:15px">FORMACIÓN ACADÉMICA</p>
<h1 ng-if="mensaje" style="text-align: center; margin-top: 25px">NO HAY DATA ALMACENADA</h1>
<div class="col-lg-2">
</div>
<div class="col-lg-6" style="text-align:center" ng-if="data.length > 0">		
	<canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options">
	</canvas>
	<h3>Recomendación de la formación académica que ofrece la escuela</h3>
</div>
<br/>
<div class="col-lg-2">	
</div>
<div class="col-lg-8" style="text-align:center; margin-top:50px" ng-if="data1.length > 0">	
	<canvas id="bar" class="chart chart-bar" chart-data="data1" chart-labels="labels1" chart-series="series">
	</canvas>
	<h3>Porcentajes en las que la escuela cubrió las expectativas de los alumnos</h3>
</div>