<p class="bg-primary" style="padding:15px">DESEMPEÑO PROFESIONAL</p>
<h1 ng-if="mensaje" style="text-align: center; margin-top: 25px">NO HAY DATA ALMACENADA</h1>
<div class="col-lg-2">
</div>
<br/>
<br/>
<div class="col-lg-6" style="text-align:center" ng-if="data.length > 0">		
	<canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options">
	</canvas>
	<h3>Porcentaje del nivel de relación del empleo con su carrera</h3>
</div>
<div class="col-lg-6" style="text-align:center" ng-if="data1.length > 0">		
	<canvas id="pie" class="chart chart-pie" chart-data="data1" chart-labels="labels1" chart-options="options">
	</canvas>
	<h3>Porcentaje del nivel de satisfacción con el trabajo</h3>
</div>
<div class="col-lg-2">	
</div>
<div class="col-lg-8" style="text-align:center; margin-top:50px	" ng-if="data2.length > 0">	
	<canvas id="pie" class="chart chart-pie" chart-data="data2" chart-labels="labels2" chart-options="options">
	</canvas>
	<h3>Porcentaje del nivel de respuesta a las exigencias del mercado</h3>
</div>
