<p class="bg-primary" style="padding:15px">SITUACIÓN ACADÉMICA</p>
<h1 ng-if="mensaje" style="text-align: center; margin-top: 25px">NO HAY DATA ALMACENADA</h1>
<div class="col-lg-12" style="text-align:center" ng-if="data.length > 0">
<br/>
	<table style="width:100%">
		<tr>
			<td><p style="font-size:65px">{{data[0]}}</p></td>
			<td><p style="font-size:65px">{{data[1]}}</p></td>
		</tr>
		<tr>
			<td>Titulados</td>
			<td>No titulados</td>
		</tr>
	</table>
	<br/><br/>
<br/>
<hr style="border:1px solid #ccc"/>
<br/>
</div>

<div class="col-lg-6" style="text-align:center" ng-if="data.length > 0">		
	<canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options">
	</canvas>
	<h3>Modalidad de titulación</h3>
</div>
<div class="col-lg-6" style="text-align:center" ng-if="data1.length > 0">	
	<canvas id="pie" class="chart chart-pie" chart-data="data1" chart-labels="labels1" chart-options="options">
	</canvas>
	<h3>Causales por la cual no se ha titulado</h3>
</div>
<div class="col-lg-2">	
</div>
<div class="col-lg-8" style="text-align:center; margin-top:50px	" ng-if="data2.length > 0">	
	<canvas id="bar" class="chart chart-bar" chart-data="data2" chart-labels="labels2" chart-series="series">
	</canvas>
	<h3>Máximo grado académico alcanzado</h3>
</div>


